.hero{
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    height: 400px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('../images/bg-img.jpg') no-repeat center/cover;
    color:white;
}